@import 'variables';
@import 'animations';
@import 'layout';
@import 'components';
@import 'colors';
@import 'typography';
@import 'helpers';
@import 'dashboard';

html, body{
    margin: 0;
    padding: 0;
}

html, body {
    background-color: #f7f7f7;
    padding: 0;
    margin: 0;
    font-size: 16px;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    width: 100%;
    height: 100%;
    color: #f7f7f7;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #000000;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

.pane {
    background-color: #fefefe;
}

.nav-menu ul li {
    position: relative;
}

.nav-menu ul li .sub-menu {
    background-color: #000000;
    position: absolute;
    display: none;
    width: 200px;
    background: #111;
    z-index: 100;
}

.nav-menu ul li.expanded .sub-menu {
    display: block;
}

.nav-menu ul li input[type="checkbox"] {
    height: inherit;
    width: inherit;
}

.active {
    background-color: #FFCD43;
    color: #282828 !important;
}

canvas {
    image-rendering: crisp-edges;
}

button {
    color: #2d3748;
    background-color: #E2E8F0;
    font-size: 16px;
    border: none;
    padding: 5px 8px;
}

input {
    background: #EDF2F7;
    border: none;
    font-size: 14px;
    color: #2d3748;
    height: 25px;
    width: 100%;
}

.text-red {
    color: #DC4E41;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.snap-target {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: transparent;
}

.engine-context-menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: #282828;
    color: #edf2f7;
    font-size: 18px;
}

.engine-context-menu ul li {
    padding: 5px;
    font-size: 16px;
}

.engine-context-menu ul li:first-child {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.engine-context-menu ul li:last-child {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.engine-context-menu ul li:hover {
    cursor: pointer;
    background-color: black;
}

body.display-snap-targets .snap-target {
    border: 3px solid yellow;
    background-color: #181818;
}

.top-left {
    top: 0;
    left: 0;
}

.top-right {
    top: 0;
    right: 0;
}

.bottom-left {
    bottom: 0;
    left: 0;
}

.layer-editor ul li {
    /* padding: 5px; */
    height: 50px;
}

.layer-editor ul li:hover {
    background-color: red;
}

.layer-editor ul li.active {
    background-color: #56636A;
}

.bottom-right {
    bottom: 0;
    right: 0;
}

button:focus {
    outline: none;
}

button.active {
    background-color: #56636A;
    color: white;
    outline: none;
    border: none;
}

.overlay-container {
    display: flex;
    flex-direction: column;
}

.overlay-header {
    padding: 8px 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}

input {
    background-color: #56636A;
    color: white;
    padding: 0 5px;
}

input:focus {
    outline: 1px solid white;
    border: none;
}

.overlay-content {
    font-size: 16px;
    flex: 1;
    padding: 15px;
    overflow-y: auto;
    border-top: none;
}

.overlay-container.sprite-editor {
    height: 50%;
}

.overlay-container.sprite-editor ul {
    list-style-type: none;
    display: grid;
    grid-gap: 1rem;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    padding: 10px;
}

.overlay-container.sprite-editor ul li img.pending-sprite {
    outline: 2px solid yellow;
}

.header-action {
    font-size: 20px;
}

.drag-handle {
    margin-right: 10px;
}

.gear::after {
    content: '\2699';
    cursor: move;
}

.ellipsis::after {
    content: '\22EF';
}

.square-grid::after {
    content: '\268F';
}

.control-group {
    margin-bottom: 15px;
}

.control-group input {
    margin-bottom: 8px;
}

.pixel-dimensions {
    display: flex;
}

.pixel-dimensions div {
    flex: 1;
    flex-basis: 0;
    margin-right: 10px;
}

.pixel-dimensions div:last-child {
    margin-right: 0;
}