<div class="default-component" style="width: 100%; height: 100%;">
    <main-menu></main-menu>
    <map-editor></map-editor>

    <!-- <router-outlet></router-outlet> -->

    <div class="a11y-modal-layer a11y-hidden">
        <div class="a11y-modal-container">
            <div class="a11y-modal" id="new-scene-modal" role="dialog" aria-modal="true" aria-labelledby="modal-title">
                <div class="a11y-modal-banner">
                    <h1 class="a11y-modal-title" id="modal-title">New scene</h1>
                </div>
                <div class="a11y-modal-content">
                    <new-scene></new-scene>
                </div>
                <div class="a11y-modal-footer">
                    <button type="button" class="a11y-modal-dismiss">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>