<div class="component map-editor-component">
    <ul class="nav nav-menu mb-0 fill-light is-shadowed" style="z-index: 500;">
        <div class="container">
            <div class="nav-left"></div>
            <div class="nav-right">
                <ul class="nav-item">
                    <li>
                        <div role="button" class="btn-toolbar-item" tabindex="0" data-editor-mode="1" title="Select">
                            <i class="fa fa-mouse-pointer fa-lg"></i>
                        </div>
                    </li>
                    <li>
                        <div role="button" class="btn-toolbar-item" tabindex="0" data-editor-mode="2" title="Stamp">
                            <i class="fa fa-cube fa-lg"></i>
                        </div>
                    </li>
                    <li>
                        <div role="button" class="btn-toolbar-item" tabindex="0" data-editor-mode="3" title="Shape fill">
                            <i class="fa fa-object-group fa-lg"></i>
                        </div>
                    </li>
                    <li>
                        <div role="button" class="btn-toolbar-item" tabindex="0" data-editor-mode="4" title="Bucket fill">
                            <i class="fa fa-flask fa-lg"></i>
                        </div>
                    </li>
                    <li>
                        <div role="button" class="btn-toolbar-item" tabindex="0" data-editor-mode="5">
                            <i class="fa fa-object-group fa-lg"></i>
                        </div>
                    </li>
                    <li>
                        <div role="button" class="btn-toolbar-item" tabindex="0" data-editor-mode="6" title="Eraser">
                            <i class="fa fa-eraser fa-lg text-red-lighten-2"></i>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </ul>

    <div class="main" style="height: 100%; flex: 1; display: flex; flex-direction: row;">
        <div class="editor-left" style="width: 300px;">
            test
        </div>
        <div class="canvas-container" style="background-color: #ccc; display: flex; height: 100%; flex: 1; justify-content: center; align-items: center;">
            <div style="min-width: 512px; overflow: auto;">
                <canvas id="editor-canvas" tabindex="-1" width="512" height="512"></canvas>
            </div>
        </div>
        <div class="editor-right">

        </div>
    </div>
</div>